body {
    background-image: url("https://wallpaperaccess.com/full/1312732.jpg")
  }
 h1 {
   color: white;
 }
 h2 {
   color: white;
 }
 .form-group {
   color: white;
 }

  
  li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .container {
    margin-left: 20px;
    
  }
 
  